In [4]:
import pandas as pd
import os
import numpy as np
dirname = os.path.dirname('__file__')
DATA_PATH = os.path.join(dirname, 'Data/struct_BLA_ch_avg600.csv')

In [5]:
df = pd.read_csv(DATA_PATH)

In [6]:
df.head()

,mi_1,mi_2,mi_3,mi_4,mi_5,mi_6,mi_7,mi_8,mi_9,mi_10,...,il_avg_power_91,il_avg_power_92,il_avg_power_93,il_avg_power_94,il_avg_power_95,il_avg_power_96,il_avg_power_97,il_avg_power_98,il_avg_power_99,il_avg_power_100
0,810.581375,856.339595,999.384045,1230.344520,1537.932346,1902.782113,2292.733337,2695.709209,3101.680477,3511.212404,...,0.545045,0.476445,0.323571,0.439581,0.597918,0.730645,0.575333,0.021592,0.155383,0.381125
1,2472.677908,2623.894820,2839.357148,3114.611148,3440.130206,3803.347204,4192.990272,4607.896578,5040.163220,5505.053448,...,0.578134,0.597263,0.686862,0.776446,0.909851,0.449411,0.542242,0.388683,0.387482,0.338245
2,894.503577,894.666862,893.030848,917.183083,1020.715960,1198.617560,1438.947769,1725.456457,2021.624649,2282.217021,...,0.320441,0.406648,0.319969,0.344656,1.095974,0.188438,0.397214,0.411444,0.282867,0.239009
3,2512.104419,2663.106078,3010.673517,3547.195953,4266.341487,5144.420076,6131.378635,7178.413072,8220.226604,9215.033302,...,2.125020,1.583823,2.377393,1.579738,1.639126,1.868232,1.525970,1.195590,1.133684,0.620327
4,483.494599,812.421478,1248.741893,1805.384903,2483.083028,3256.927635,4078.631333,4885.959726,5600.815719,6152.976691,...,1.645324,1.437129,1.619038,1.118009,0.857478,2.013093,1.330461,1.447463,1.353559,0.364092

In [7]:
##display all column names
df.columns

Index(['mi_1', 'mi_2', 'mi_3', 'mi_4', 'mi_5', 'mi_6', 'mi_7', 'mi_8', 'mi_9',
       'mi_10',
       ...
       'il_avg_power_91', 'il_avg_power_92', 'il_avg_power_93',
       'il_avg_power_94', 'il_avg_power_95', 'il_avg_power_96',
       'il_avg_power_97', 'il_avg_power_98', 'il_avg_power_99',
       'il_avg_power_100'],
      dtype='object', length=4600)

In [8]:
#select all columns of interest
columns_bla = [x for x in df.columns if 'bla_avg_power' in x]
columns_il = [x for x in df.columns if 'il_avg_power' in x]

In [9]:
#make three dataframes, each representing a feature
df_bla = df[columns_bla]
df_il = df[columns_il]

In [17]:
#to numpy
array_bla = df_bla.to_numpy()[:-1]
array_il = df_il.to_numpy()[:-1]
print(array_bla.shape)

(600, 100)

In [18]:
pac_cnn = np.load('Data/PAC_afterCNN.npy')
print(pac_cnn.shape)

(100,)

In [23]:
#create 600 arrays (3d feature array for each sample) and save them as .npy file to feed them to the network
#picture has shape (3, 100, 40)
for i in range(600):
    bla = array_bla[i]
    il = array_il[i]
    data_in = np.stack((pac_cnn, bla, il))
    np.save(os.path.join(dirname, 'Data/input_MLP/sample_%i'%i), data_in)